
$gray : #6e6e6e;

input {
  color: $gray;
}

.my-btn {
  background-color: $gray;
}

.my-form {
  padding-top:  20px;
  padding-bottom: 20px;
}

.food-item {
  text-align: left;
  padding-left: 41.5%;
}
